@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Condensed"), local("UbuntuCondensed-Regular"), url("fonts/ubuntu.woff") format("woff"); 
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("fonts/lato.woff") format("woff"); 
}

@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: local("Bitter-Regular"), url("fonts/bitter.woff") format("woff"); 
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local("Titillium Web"), local("TitilliumWeb-Regular"), url("fonts/titillium.woff") format("woff"); 
}

@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: 400;
  src: local("Cantarell Regular"), local("Cantarell-Regular"), url("fonts/cantarell.woff") format("woff"); 
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("fonts/roboto.woff") format("woff"); 
}

body.lato {
  font-family: "Lato"; 
}

body.bitter {
  font-family: "Bitter"; 
}

body.titillium {
	font-family: "Titillium Web"; }
	body.titillium .stats .left {
	  letter-spacing: -8px; 
}

body.cantarell {
  font-family: "Cantarell"; }
  body.cantarell .city {
    letter-spacing: -2px; }
  body.cantarell .stats .left {
    letter-spacing: -8px; 
}

body.roboto {
  font-family: "Roboto"; 
}

/* END FONTS */


* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	font-family: 'Ubuntu Condensed';
	font-size: 18px;
}

.location, .main-icon, .details, .forecast-items {
    width: 100%;
    text-align: center;
}

.forecast-item {
    display: inline-block;
}

.details .temp, .extra-details {
    display: inline-block;
}

.details .temp {
    font-size: 2.5em;
}

.forecast-items {
    margin-top: 20px;
}

.main-icon img {
	width: 200px;
	margin: -30px 0;
}

.button {
    width: 30px;
    height: 30px;
    margin: 0;
    display: inline-block;
    text-align: center;
    font-size: 0.7em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.05);
    cursor: default;
    -webkit-transition: 200ms ease background;
}

.button:hover {
  background: rgba(0, 0, 0, 0.2); 
}
