@font-face {
  font-family: 'UbuntuRegular';
  src: url('../fonts/Ubuntu-R-webfont.svg#UbuntuRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('../fonts/Roboto-Condensed-webfont.svg#RobotoCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*Roboto-Condensed-webfont.svg*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  font-family: 'UbuntuRegular';
	font-size: 22px;
  color: white;
  background: #62558a;
  text-transform: uppercase;
  margin: 0;
  /*letter-spacing: -3px;*/
}

.nofont {
  font-family: 'Comic Sans';
  font-weight: 100;
}

/* TOP BAR */
.topbar {
  height: 30px;
  max-height: 30px;
  min-height: 30px;
}

.button {
  width: 30px;
  height: 30px;
  margin: -5px;
  display: inline-block;
  text-align: center;
  font-size: 0.7em;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.05);
  cursor: default;
  -webkit-transition: 200ms ease background;
}

.button:hover {
  background: rgba(0, 0, 0, 0.2); 
}

.topbar .button {
  margin: 0 -2.5px;
}

.topbar .left-actions {
  float: left;
  height: 30px;
}

.topbar .right-actions {
  float: right;
  height: 30px;
}

.topbar .settings.button {
  background: transparent url(app://img/settings.svg) center center;
}

.topbar .sync.button {
  background: transparent url(app://img/sync.svg) center center;
}

.topbar .left.button {
  background: transparent url(app://img/left.svg) center center;
}

.topbar .right.button {
  background: transparent url(app://img/right.svg) center center;
  margin-right: 0 !important;
}

.topbar .right-actions .button {
  background-repeat: no-repeat;
  background-size: 55%;
  margin: 0 -5px;
}
/* END TOP BAR */

.content {
  margin: 8px;
}

.location, .details, .forecast-items {
  width: 100%;
  text-align: center;
}

.location {
  margin-top: 20px;
  font-size: 1.1em;
}

.forecast-items {
  margin-top: 40px;
  font-size: 0.8em;
}

.forecast-item {
  display: inline-block;
}

.details .temp, .extra-details {
  display: inline-block;
}

.details {
  margin-bottom: 30px;
}

.details .temp {
  font-size: 2.7em;
}

.extra-details {
  text-align: left;
}

.wind {
  margin-bottom: 5px;  
  text-transform: lowercase;
}

.current-icon {
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: 100% ;
  height: 300px;
  margin: -50px -10px;
  width: auto;
}

.forecast-icon {
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: 100% ;
  height: 75px;
  margin: -15px 5px 0px;
  width: 75px;
}


/* CLEARFIX */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}